*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1762207505712.log
/.kotlin/errors/errors-1762207544782.log
/.kotlin/errors/errors-1762207594970.log
/.kotlin/errors/errors-1762207819845.log
/.kotlin/errors/errors-1762207906380.log
/.kotlin/errors/errors-1762207953754.log
